
h1 {
    text-align: centre;
    font-size: 50px;
    color: white;

    }

#hey {
  background:url(./back.jpeg );
  background-size: 2000px 950px;
  padding: 350px;
  color:black

}

#round {
  border-radius: 100px;
  color: green;
  padding: 100px;
  width: 200px;
  height: 200px;




}
